In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [92]:
worldpop = "world_population.csv"
worldpopdf=pd.read_csv(worldpop)
worldpopdf.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [93]:
# first lets check for null values
worldpopdf.isnull().sum()

#good, there are no null values

Rank                           0
CCA3                           0
Country/Territory              0
Capital                        0
Continent                      0
2022 Population                0
2020 Population                0
2015 Population                0
2010 Population                0
2000 Population                0
1990 Population                0
1980 Population                0
1970 Population                0
Area (km²)                     0
Density (per km²)              0
Growth Rate                    0
World Population Percentage    0
dtype: int64

In [94]:
#population change between 2022 and 2020
popchange22_20 = (worldpopdf['2022 Population']- worldpopdf['2020 Population'])/worldpopdf['2020 Population']
popchange22_20rounded = popchange22_20.round(decimals=4)
popchange22_20rounded

0      0.0553
1     -0.0086
2      0.0334
3     -0.0415
4      0.0273
        ...
229   -0.0071
230    0.0359
231    0.0438
232    0.0576
233    0.0415
Length: 234, dtype: float64

In [95]:
#pop change 22_20 to list
popchange22_20col=popchange22_20rounded.tolist()
popchange22_20col

[0.0553,
 -0.0086,
 0.0334,
 -0.0415,
 0.0273,
 0.0646,
 0.0175,
 0.0119,
 0.0105,
 -0.009,
 -0.0013,
 0.0198,
 0.0036,
 0.0071,
 0.0086,
 -0.0035,
 0.0225,
 0.0034,
 -0.0103,
 0.0081,
 0.0262,
 0.0561,
 0.0024,
 0.0129,
 0.0241,
 -0.0256,
 0.0329,
 0.0099,
 0.0128,
 0.0165,
 -0.0283,
 0.0535,
 0.0548,
 0.0226,
 0.0537,
 0.0149,
 0.018,
 0.0207,
 0.0442,
 0.0648,
 0.0157,
 0.0007,
 0.0185,
 0.038,
 -0.0011,
 0.0113,
 -0.0162,
 -0.0078,
 0.0099,
 0.0113,
 -0.0035,
 0.0097,
 0.0282,
 0.0103,
 0.0208,
 0.0663,
 0.0234,
 0.0328,
 0.0069,
 0.0494,
 0.036,
 -0.0025,
 0.0178,
 0.0528,
 0.0088,
 0.0129,
 0.0102,
 0.002,
 0.0023,
 0.0467,
 0.0144,
 0.0421,
 0.0513,
 -0.0057,
 0.0005,
 0.0403,
 -0.0018,
 -0.0121,
 0.0079,
 0.0144,
 0.0003,
 0.015,
 0.0277,
 0.0081,
 0.0495,
 0.0445,
 0.0145,
 0.0246,
 0.0307,
 -0.0016,
 0.0222,
 0.017,
 0.0149,
 0.0134,
 0.0144,
 0.0456,
 0.0156,
 0.0056,
 0.0321,
 -0.0078,
 0.0503,
 0.0025,
 -0.0103,
 0.0227,
 0.0327,
 0.0221,
 0.0393,
 0.0377,
 -0.021,
 0.032,
 0.0287,
 -0.0245,
 -0.0306,
 0.0229,
 0.0423,
 0.0238,
 0.0147,
 -0.0249,
 0.0273,
 0.0279,
 0.0491,
 0.0531,
 0.0222,
 0.0182,
 0.0645,
 0.0348,
 -0.0425,
 -0.0078,
 0.0528,
 0.0013,
 0.0671,
 0.012,
 0.0184,
 0.061,
 -0.0123,
 0.0316,
 -0.0031,
 -0.0244,
 0.021,
 0.0575,
 0.0142,
 0.0313,
 0.0287,
 0.0409,
 0.0074,
 0.0124,
 0.0245,
 0.0285,
 0.077,
 0.049,
 -0.0041,
 0.0078,
 -0.0083,
 -0.0007,
 0.0101,
 0.0072,
 0.038,
 0.0046,
 0.046,
 0.0266,
 0.0403,
 0.0245,
 0.0224,
 0.03,
 0.0372,
 -0.0027,
 -0.0059,
 -0.0236,
 0.047,
 0.0169,
 0.0112,
 -0.0062,
 0.0479,
 0.0268,
 0.0003,
 0.0035,
 -0.0234,
 -0.0075,
 -0.0065,
 0.0347,
 -0.0102,
 0.04,
 0.0114,
 0.0536,
 -0.0186,
 0.015,
 0.0451,
 0.0111,
 0.0127,
 0.0342,
 0.001,
 0.0479,
 0.0641,
 0.0186,
 -0.0006,
 0.0289,
 0.0041,
 0.0054,
 0.0548,
 0.0181,
 0.0174,
 0.0118,
 0.0651,
 0.003,
 0.0429,
 0.0615,
 0.0031,
 0.0318,
 0.0481,
 0.0241,
 0.0152,
 0.0085,
 0.016,
 0.0143,
 0.0289,
 0.0322,
 0.022,
 0.0641,
 -0.0958,
 0.0166,
 0.0067,
 0.007,
 -0.0097,
 -0.0018,
 0.0328,
 0.0483,
 -0.0192,
 -0.0066,
 0.0159,
 -0.0071,
 0.0359,
 0.0438,
 0.0576,
 0.0415]

In [96]:
# create population growth col for 2020 to 2022 pop change
worldpopdf['20-22 Pop Change']=popchange22_20col

worldpopdf

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,20-22 Pop Change
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52,0.0553
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04,-0.0086
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56,0.0334
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00,-0.0415
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00,0.0273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00,-0.0071
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01,0.0359
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42,0.0438
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25,0.0576
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20,0.0415

In [97]:
columns_to_drop='Growth Rate'

worldpopdf.drop(columns_to_drop, inplace=True, axis=1)
worldpopdf

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),World Population Percentage,20-22 Pop Change
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,0.52,0.0553
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.04,-0.0086
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,0.56,0.0334
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.00,-0.0415
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,0.00,0.0273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.00,-0.0071
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,0.01,0.0359
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,0.42,0.0438
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,0.25,0.0576
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,0.20,0.0415

In [98]:
columns_renamed = {'Rank': 'World Population Rank',
                   'CCA3': 'Abbreviation',
                   'Country/Territory': 'Country/Territory',
                   'Capital': 'Capital City',
                   'Continent': 'Continent',
                   '2022 Population': '2022 Population',
                   '20-22 Pop Change': '20-22 Population Change (%)',
                   '2020 Population': '2020 Population',
                   '2015 Population': '2015 Population',
                   '2010 Population': '2010 Population',
                   '2000 Population': '2000 Population',
                   '1990 Population': '1990 Population',
                   '1980 Population': '1980 Population',
                   '1970 Population': '1970 Population',
                   'Area (km²)': 'Country Land Area (km²)',
                   'Density (per km²)': 'People per km²',
                   'World Population Percentage':'% of World Population'
}

columns_renamed

worldpopdf.rename(columns=columns_renamed,inplace=True)
worldpopdf

# worldpopdf.rename(columns_renamed,inplace=True)
# worldpopdf

,World Population Rank,Abbreviation,Country/Territory,Capital City,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Country Land Area (km²),People per km²,% of World Population,20-22 Population Change (%)
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,0.52,0.0553
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.04,-0.0086
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,0.56,0.0334
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.00,-0.0415
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,0.00,0.0273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.00,-0.0071
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,0.01,0.0359
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,0.42,0.0438
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,0.25,0.0576
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,0.20,0.0415

In [99]:
#population change between 2020 and 2015
popchange20_15 = (worldpopdf['2020 Population']- worldpopdf['2015 Population'])/worldpopdf['2015 Population']
popchange20_15rounded = popchange20_15.round(decimals=4)
popchange20_15rounded

#population change between 2015 and 2010
popchange15_10 = (worldpopdf['2015 Population']- worldpopdf['2010 Population'])/worldpopdf['2010 Population']
popchange15_10rounded = popchange15_10.round(decimals=4)
popchange15_10rounded

#population change between 2010 and 2000
popchange10_00 = (worldpopdf['2010 Population']- worldpopdf['2000 Population'])/worldpopdf['2000 Population']
popchange10_00rounded = popchange10_00.round(decimals=4)
popchange10_00rounded

#population change between 2000 and 1990
popchange00_90 = (worldpopdf['2000 Population']- worldpopdf['1990 Population'])/worldpopdf['1990 Population']
popchange00_90rounded = popchange00_90.round(decimals=4)
popchange00_90rounded

#population change between 1990 and 1980
popchange90_80 = (worldpopdf['1990 Population']- worldpopdf['1980 Population'])/worldpopdf['1980 Population']
popchange90_80rounded = popchange90_80.round(decimals=4)
popchange90_80rounded

#population change between 1980 and 1970
popchange80_70 = (worldpopdf['1980 Population']- worldpopdf['1970 Population'])/worldpopdf['1970 Population']
popchange80_70rounded = popchange80_70.round(decimals=4)
popchange80_70rounded

0      0.1612
1      0.2654
2      0.3583
3      0.2146
4      0.7931
        ...
229    0.2067
230    0.5290
231    0.3450
232    0.3360
233    0.3550
Length: 234, dtype: float64

In [100]:
#Add each new decade increment population change percentage to a list format
new_20_15_change_col= popchange20_15rounded.tolist()

new_15_10_change_col= popchange15_10rounded.tolist()

new_10_00_change_col=popchange10_00rounded.tolist()

new_00_90_change_col=popchange00_90rounded.tolist()

new_90_80_change_col=popchange90_80rounded.tolist()

new_80_70_change_col=popchange80_70rounded.tolist()

In [101]:
#append newly create lists to our dataframe so that they each make a new column
worldpopdf['2015-2020 Pop Change (%)']=new_20_15_change_col
worldpopdf['2010-2015 Pop Change (%)']=new_15_10_change_col
worldpopdf['2000-2010 Pop Change (%)']=new_10_00_change_col
worldpopdf['1990-2000 Pop Change (%)']=new_00_90_change_col
worldpopdf['1980-1990 Pop Change (%)']=new_90_80_change_col
worldpopdf['1970-1980 Pop Change (%)']=new_80_70_change_col

In [102]:
worldpopdf.columns
columns_top_drop=['2020-2015 Pop Change (%)',
       '2015-2010 Pop Change (%)', '2010-2000 Pop Change (%)',
       '2000-1990 Pop Change (%)', '1990-1980 Pop Change (%)',
       '1980-1970 Pop Change (%)']

columns_top_drop

['2020-2015 Pop Change (%)',
 '2015-2010 Pop Change (%)',
 '2010-2000 Pop Change (%)',
 '2000-1990 Pop Change (%)',
 '1990-1980 Pop Change (%)',
 '1980-1970 Pop Change (%)']

In [104]:
worldpopdf.columns

Index(['World Population Rank', 'Abbreviation', 'Country/Territory',
       'Capital City', 'Continent', '2022 Population', '2020 Population',
       '2015 Population', '2010 Population', '2000 Population',
       '1990 Population', '1980 Population', '1970 Population',
       'Country Land Area (km²)', 'People per km²', '% of World Population',
       '20-22 Population Change (%)', '2015-2020 Pop Change (%)',
       '2010-2015 Pop Change (%)', '2000-2010 Pop Change (%)',
       '1990-2000 Pop Change (%)', '1980-1990 Pop Change (%)',
       '1970-1980 Pop Change (%)'],
      dtype='object')

In [105]:
worldpopdf

,World Population Rank,Abbreviation,Country/Territory,Capital City,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,...,Country Land Area (km²),People per km²,% of World Population,20-22 Population Change (%),2015-2020 Pop Change (%),2010-2015 Pop Change (%),2000-2010 Pop Change (%),1990-2000 Pop Change (%),1980-1990 Pop Change (%),1970-1980 Pop Change (%)
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,...,652230,63.0587,0.52,0.0553,0.1546,0.1974,0.4424,0.8273,-0.1435,0.1612
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,...,28748,98.8702,0.04,-0.0086,-0.0054,-0.0106,-0.0844,-0.0343,0.1201,0.2654
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,...,2381741,18.8531,0.56,0.0334,0.0988,0.1028,0.1651,0.2060,0.3617,0.3583
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,...,199,222.4774,0.00,-0.0415,-0.1008,-0.0635,-0.0581,0.2177,0.4541,0.2146
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,...,468,170.5641,0.00,0.0273,0.0830,0.0032,0.0820,0.2339,0.5043,0.7931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,...,142,81.4930,0.00,-0.0071,-0.0433,-0.0730,-0.1074,0.0943,0.1890,0.2067
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,...,266000,2.1654,0.01,0.0359,0.1306,0.1900,0.5286,0.5145,0.5288,0.5290
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,...,527968,63.8232,0.42,0.0438,0.1321,0.1525,0.3283,0.3928,0.4530,0.3450
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,...,752612,26.5976,0.25,0.0576,0.1649,0.1781,0.3944,0.2868,0.3437,0.3360
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,...,390757,41.7665,0.20,0.0415,0.1070,0.1024,0.0849,0.1701,0.4346,0.3550